:root {
	--col--black: #212121;
	--col--lgrey: #757575;
	--col--blue: #2196f3;
	--col--grey: #2f303a;
	--colf5--white: #f5f5f5;
	--colff--white: #ffffff;
}

.section {
	padding: 94px 0;
}

.icon {
	fill: currentColor;
}

body {
	background-color: var(--colff--white);
	color: var(--col--black);
	font-family: "Roboto", sans-serif;
	letter-spacing: 0.03em;
}

* {
	padding: 0;
	margin: 0;
}

img {
	display: block;
}

.list {
	list-style: none;
}

button {
	cursor: pointer;
}

.container {
	margin-left: auto;
	margin-right: auto;
	width: 1200px;
	padding-left: 15px;
	padding-right: 15px;
}

/* !header */

.hidden {
	position: absolute;
	white-space: nowrap;
	overflow: hidden;

	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
}

.header-container .logo {
	text-decoration: none;
	vertical-align: Top;

	font-family: "Raleway", sans-serif;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.2307;
	letter-spacing: 0.03em;

	color: var(--col--blue);
}

.header__logo {
	text-decoration: none;

	margin-right: 93px;

	color: #000000;
}

.link {
	text-decoration: none;

	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;

	color: var(--col--black);
}

.header-page {
	display: flex;
	align-items: center;
	justify-content: center;

	border-bottom: 1px solid #ececec;
}

.header-page .container {
	display: flex;
	align-items: center;
}

/* !menu*/

.main-nav {
	display: inline-block;
	align-items: center;
}

.main-nav__list .main-nav__item {
	position: relative;
}

.main-nav__list .main-nav__link:focus::after,
.main-nav__list .main-nav__link:hover::after,
.main-nav__list .main-nav__link.main-nav__link--current:after {
	width: 100%;
}

.main-nav__list .main-nav__link::after {
	content: "";
	position: absolute;
	display: block;

	border-radius: 2px;
	width: 0;
	left: 0;
	height: 4px;
	bottom: -1%;

	background-color: var(--col--blue);
}

.main-nav__item {
	padding-top: 32px;
	padding-bottom: 32px;
}

.main-nav__list {
	display: flex;
	align-items: center;
	gap: 50px;
}

.main-nav__list .main-nav__link:hover,
.main-nav__list .main-nav__link:focus {
	color: var(--col--blue);
}

.main-nav__list .main-nav__link {
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-nav__list .main-nav__link:after {
	transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-nav__list .main-nav__link--current {
	color: var(--col--blue);
	text-decoration: none;
}

/*!contact*/

.contact-list {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: auto;
	margin-right: 0;
	gap: 50px;
}

.contact-list__item .contact-list__link {
	display: flex;
	justify-content: center;
	align-items: center;

	gap: 10px;
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;

	color: var(--col--lgrey);
}

.contact-list .contact-list__link:focus,
.contact-list .contact-list__link:hover {
	color: var(--col--blue);
}

.contact-list .contact-list__link {
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*!hero*/

.hero {
	max-width: 1600px;
	padding: 200px 0;

	margin-left: auto;
	margin-right: auto;

	background-image: linear-gradient(to bottom,
			rgba(47, 48, 58, 0.4),
			rgba(47, 48, 58, 0.4)),
		url(../images/backround.jpg);
	background-size: cover;
}

.hero-title {
	margin-left: auto;
	margin-right: auto;
	text-transform: uppercase;
	text-align: center;

	max-width: 670px;
	font-weight: 900;
	font-size: 44px;
	line-height: 1.36;
	letter-spacing: 0.03em;
	margin-top: 0;
	margin-bottom: 30px;
	width: 100%;

	color: var(--colff--white);
}

.hero-button {
	border-color: transparent;
	cursor: pointer;
	display: block;

	margin: 0 auto;
	min-width: 216px;
	min-height: 50px;
	border-radius: 4px;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.9;
	letter-spacing: 0.06em;

	color: var(--colff--white);
	background-color: var(--col--blue);
}

/*!features*/

.features-section__list {
	display: flex;
	gap: 30px;
}

.features-section {
	padding-bottom: 0;

	background-color: var(--colff--white);
}

.features-section__list .features-section__title {
	text-transform: uppercase;

	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
}

.features-section__list .features-section__text {
	color: var(--col--lgrey);
	font-size: 14px;
	line-height: 1.7;
}

.features-section__container-icon {
	background-color: #f5f4fa;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 30px;
	width: 270px;
	height: 120px;
}

.features .title {
	margin-bottom: 10px;
}

/*!what-we-do*/

.work-list {
	display: flex;
	gap: 30px;
}

.section-title {
	text-align: center;

	font-weight: 700;
	font-size: 36px;
	line-height: 1.16;
	margin-bottom: 50px;
}

.work-list__item {
	position: relative;
}

.work-list__title {
	position: absolute;
	text-transform: uppercase;
	text-align: center;

	left: 0;
	bottom: 0;
	width: 100%;
	padding: 27px 0px;
	z-index: 2;
	font-weight: 700;
	font-size: 14px;
	line-height: 1.1428;
	letter-spacing: 0.03em;

	color: var(--colff--white);
	background: rgba(47, 48, 58, 0.8);
}

/*!our_company*/

.team-list {
	display: flex;
	gap: 30px;
}

.team-section {
	padding-top: 30px;
	padding-bottom: 30px;
}

.team-section .team-list__title {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.2;
	text-align: center;
}

.team {
	background-color: #f5f4fa;
}

.team-section .team-list__text {
	text-align: center;

	font-size: 16px;
	line-height: 1.2;
	margin-top: 10px;
	margin-bottom: 30px;

	color: var(--col--lgrey);
}

.team-list__item {
	background-color: var(--colff--white);
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
		0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-list__social {
	display: flex;
	justify-content: center;

	gap: 10px;
}

.social-list__link {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 44px;
	height: 44px;
	border-radius: 50%;

	color: #afb1b8;
}

.social-list__link:hover,
.social-list__link:focus {
	color: var(--colff--white);
	background-color: var(--col--blue);
}

.social-list__link {
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
		background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*!customers*/

.customers-title {
	font-weight: 700;
	font-size: 36px;
	line-height: 42px;
	text-align: center;
	letter-spacing: 0.03em;
}

.customers-list {
	display: flex;

	gap: 30px;
}

.customers-list__link:hover,
.customers-list__link:focus {
	color: var(--col--blue);
	border-color: var(--col--blue);
}

.customers-title {
	margin-top: 0;
	margin-bottom: 50px;
}

.customers-list__link {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 170px;
	height: 92px;
	border-radius: 4px;

	background-color: var(--colff--white);
	border: 1px solid;
	color: #afb1b8;
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
		border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*!modal*/

.modal {
	position: fixed;

	z-index: 777;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;

	background: rgba(0, 0, 0, 0.2);
	transition: visibility 500ms cubic-bezier(0.4, 0, 0.2, 1),
		opacity 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-window {
	position: absolute;

	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%) scale(1);
	width: 528px;
	height: 581px;
	border-radius: 4px;
	padding: 40px;

	background-color: var(--colff--white);
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
		0px 2px 1px rgba(0, 0, 0, 0.2);
	transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal.is-hidden .modal-window {
	transform: translate(-50%, -50%) scale(2);
}

.modal-button__close {
	position: absolute;

	right: 8px;
	top: 8px;
	width: 30px;
	height: 30px;
	border-radius: 50%;

	background-color: var(--colff--white);
	border: 1px solid rgba(0, 0, 0, 0.1);
}

.modal-button__close:hover::before,
.modal-button__close:hover::after {
	background-color: var(--col--blue);
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button__close:focus::before,
.modal-button__close:focus::after {
	background-color: var(--col--blue);
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
	visibility: hidden;
	opacity: 0;
	pointer-events: none;
}

.modal-button__close::before,
.modal-button__close::after {
	position: absolute;
	content: "";

	width: 15px;
	height: 2px;
	left: 50%;
	top: 50%;
	transition: transform 0.4s ease-in-out;

	background-color: #000000;
}

.modal-button__close::before {
	transform: translate(-50%, -50%) rotate(-45deg);
}

.modal-button__close::after {
	transform: translate(-50%, -50%) rotate(45deg);
}

.modal-button__close:hover::after,
.modal-button__close:hover::before,
.modal-button__close:focus::after,
.modal-button__close:focus::before {
	transform: translate(-50%, -50%) rotate(0deg);
}

.from-title {
	font-family: "Roboto", sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 1.15;
	text-align: center;
	letter-spacing: 0.03em;
	margin-bottom: 12px;

	color: var(--col--black);
}

.form-input {
	width: 100%;
	height: 40px;
	padding: 11px 12px;
	margin-bottom: 10px;
	padding-left: 42px;
	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;
}

.form-span__title {
	display: block;
	font-family: "Roboto", sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 1.1666;
	letter-spacing: 0.01em;
	margin-bottom: 4px;

	color: var(--col--lgrey);
}

.modal-textarea {
	width: 100%;
	height: 120px;
	padding: 12px 16px;
	margin-bottom: 20px;
	font-family: "Roboto", sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 14px;
	letter-spacing: 0.01em;

	color: rgba(117, 117, 117, 0.5);
	resize: none;
	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;
}

.modal-checkbox__title {
	font-family: "Roboto", sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
	letter-spacing: 0.03em;
	margin-bottom: 30px;

	color: var(--col--lgrey);
}

.modal-send__button {
	font-family: "Roboto", sans-serif;
	font-style: normal;
	letter-spacing: 0.06em;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.875;

	display: block;
	margin: auto;
	padding: 10px 52px;
	width: 200px;
	height: 50px;

	color: var(--colff--white);
	background: var(--col--blue);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	border: 0;
}

.modal-send {
	margin-top: 30px;
}

.form-box__icon {
	position: relative;
}

.form-icon {
	position: absolute;
	top: 12px;
	left: 12px;
}

.form-input:focus+.form-icon,
.form-input:hover+.form-icon {
	color: var(--col--blue);
	border-color: var(--col--blue);
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus,
.form-input:hover {
	border-color: var(--col--blue);
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea:focus,
.modal-textarea:hover {
	border-color: var(--col--blue);
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-checkbox__linc {
	font-family: "Roboto", sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
	letter-spacing: 0.03em;
	text-decoration-line: underline;

	color: var(--col--blue);
}

.modai-checkbox__label {
	position: relative;
	display: flex;
	justify-content: center;
	gap: 8px;
	margin-left: 15px;

	font-size: 14px;
	line-height: 24px;
	letter-spacing: 0.03em;

	color: var(--col--lgrey);
}

.modal-checkbox__title {
	position: absolute;
	top: 3px;
	left: 0px;
	width: 16px;
	height: 15px;
	background-image: url(../images/check_off.svg);
}

.modal-checkbox:checked+.modal-checkbox__title {
	background-image: url(../images/check_on.svg);
}

/*!footer*/

.footer {
	background-color: var(--col--grey);
}

.footer-container {
	display: flex;
	gap: 70px;
	padding-top: 60px;
	padding-bottom: 60px;
}

.footer__logo {
	text-decoration: none;

	color: var(--colff--white);
}

.footer .logo {
	text-decoration: none;
	display: flex;

	font-family: "Raleway", sans-serif;
	margin-bottom: 20px;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.1923;
	letter-spacing: 0.03em;

	color: var(--col--blue);
}

.footer-address__link {
	font-style: normal;
	text-decoration: none;
	font-size: 14px;
	line-height: 1.7;

	color: var(--colff--white);
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-address__link:hover,
.footer-address__link:focus {
	color: var(--col--blue);
}

.footer-contact__link {
	text-decoration: none;
	font-style: normal;
	font-size: 14px;
	line-height: 1.7;
	font-weight: 400;

	color: rgba(255, 255, 255, 0.6);
}

.footer-contact__list .footer-contact__link:not(:last-child) {
	margin: 9px 0;
}

.footer-contact__list .footer-contact__link:hover,
.footer-contact__list .footer-contact__link:focus {
	color: var(--col--blue);
}

.footer-contact__list .footer-contact__link {
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-title {
	font-style: normal;
	text-transform: uppercase;

	font-family: "Raleway";
	font-weight: 700;
	font-size: 14px;
	line-height: 1.1428;
	letter-spacing: 0.03em;
	padding-top: 12px;
	margin-bottom: 20px;

	color: var(--colff--white);
}

.footer-social__link:focus,
.footer-social__link:hover {
	background-color: var(--col--blue);
}

.footer-social__link {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 44px;
	height: 44px;
	border-radius: 50%;

	color: var(--colff--white);
	background-color: rgba(255, 255, 255, 0.1);
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



/*!form*/

.footer-form {
	margin-left: auto;
	padding-top: 12px;
}

.footer-form__join {
	display: flex;
	gap: 12px;
	flex-wrap: wrap;
}

.footer-list {
	display: flex;
	gap: 10px;
}

.footer-form__text {
	font-family: "Roboto", sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 1.1428;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	margin-bottom: 20px;

	color: var(--colff--white);
}

.footer-form__mail {
	max-width: 358px;
	width: 358px;
	height: 50px;
	padding: 15px 16px;

	outline: transparent;
	background-color: transparent;

	color: var(--colff--white);
	border: 1px solid rgba(255, 255, 255, 0.3);
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
	border-radius: 4px;
}

.footer-button__mail {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;

	font-family: "Roboto";

	width: 200px;
	height: 50px;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.875;
	letter-spacing: 0.06em;

	background-color: var(--col--blue);
	color: var(--colff--white);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	border: 0;
}

/* ?portfolio.html */

/*!filter*/

.filter-button:hover,
.filter-button:focus {
	background-color: var(--col--blue);
	color: #f5f4fa;
	box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
		0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter-list__list {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: nowrap;

	gap: 8px;
}

.filter-button {
	border-radius: 4px;
	padding: 6px 22px;
	margin-bottom: 50px;
	border: 0;

	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
		background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
		box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-button {
	cursor: pointer;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.6;
	letter-spacing: 0.03em;

	color: var(--col--black);
}



.portfolio {
	display: flex;
	flex-wrap: wrap;
	box-sizing: border-box;
	gap: 30px;
	transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-row__text {
	padding: 20px 24px;
	list-style: none;

	border-left: 1px solid #eeeeee;
	border-right: 1px solid #eeeeee;
	border-bottom: 1px solid #eeeeee;
	color: var(--colff--white);
}

.portfolio-title {
	font-family: "Roboto", sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 2;
	letter-spacing: 0.06em;
	margin-bottom: 4px;

	color: var(--col--black);
}

.portfolio-section {
	font-family: "Roboto", sans-serif;
	font-style: normal;
	font-size: 16px;
	line-height: 1.875;
	letter-spacing: 0.03em;

	color: var(--col--lgrey);
}

.portfolio-list__title {
	transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-images {
	position: relative;
	overflow: hidden;
}

.portfolio-list__text {
	font-family: "Roboto", sans-serif;
	font-style: normal;
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	padding: 63px 24px;
	font-size: 18px;
	line-height: 1.5555;
	letter-spacing: 0.03em;
	transform: translateY(101%);
	transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

	background: rgba(33, 150, 243, 0.9);
	color: var(--colff--white);
}

.portfolio-link:hover .portfolio-list__text,
.portfolio-link:focus .portfolio-list__text {
	transform: translateY(0);
}

.portfolio-list__title:hover,
.portfolio-list__title:focus {
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
		1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-row__texte {
	display: block;
}